body {
  margin: 0 20px;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.navbar {
    margin-bottom: 20px;
}
a {
    color: red;
}
p {
    font-style: italic;
}
h1 {
  width: 40%;
  /*margin: 0 auto 8px;*/
  font-family: "Arial", sans-serif;
  text-align: left;
  font-weight: normal;
  font-size: 36px;
  line-height: 64px;
}
span {
    color: blue;
}
.features {
  width: 510px;
  /*margin: 0 auto 30px;*/
  padding: 20px 0;
}
.features p {
  display: inline-block;
  vertical-align: top;
  /*width: 15%;*/
  margin: 0 5px;
  background-repeat: no-repeat;
  background-position: center top;
  text-transform: uppercase;
}
.container {
  width: 510px;
  /*margin: 0 auto;*/
  padding: 0 20px;
}


.site-footer .container {
  text-align: center;
}
.site-footer {
  min-width: 550px;
  background-color: #847462;
  color: #ffffff;
}
.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}