body {
  padding-bottom: 20px;
    background-color: mistyrose;
}

.navbar {
    margin-bottom: 20px;
}
a {
    color: red;
}
p {
    font-style: italic;
}
h1 {
    font-style: oblique;
}
span {
    color: blue;
}