{% extends 'base.html' %}

{% block title %}
    Страница базы
{% endblock %}

{% block body %}
    <h1>Добавление расходов</h1>
    <form method="post">
            <select name="category">
                <option name="food">Продукты</option>
                <option name="gazolino">Бензин</option>
                <option name="repair car">Ремонт Авто</option>
                <option name="game">Игры</option>
            </select>
            <input type="text" name="value" id="value" placeholder="Наименование">
            <input type="text" name="price" id="price" placeholder="Стоимость RUB">
            <input type="submit" value="Добавить">
    </form>
{% endblock %}