{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>База по расходам</h1>
    <p>Данное приложение даёт вести ежедневные расходы для контроля финансов.</p>
<div class="l_tab">
    <div class="tab_left">
    <a href="{{ url_for('all_table') }}">Развернуть таблицу</a>
    <table border="1">
        <caption>Таблица расходов</caption>
        <tr align="center">
            <th>Дата</th>
            <th>Категория</th>
            <th>Наименование</th>
            <th>Цена, RUB</th>
            <th>Дополнительно</th>
        </tr>
        {% for article in info_all %}
        <tr align="center">
            <td>{{ article.date_user }}</td>
            <td>{{ article.category }}</td>
            <td>{{ article.value }}</td>
            <td>{{ article.price }}</td>
            <td><a href="/index/{{ article.id }}">Подробно</a></td>
        </tr>
        {% endfor %}
    </table>
    <p>Общая сумма затрат - {{ total_price }} RUB</p>
    <p>Дневная сумма расходов - {{ price_of_day }} RUB
        <span>(Период c {{ date_str.date() }} по {{ date_fin.date() }})</span> "Целевой показатель 5000 RUB"</p>
    </div>
    <div class="tab_right">
        <a href="{{ url_for('all_table') }}">Развернуть таблицу</a>
    <table border="1">
        <caption>Таблица дохода</caption>
        <tr align="center">
            <th>Дата</th>
            <th>Категория</th>
            <th>Наименование</th>
            <th>Цена, RUB</th>
            <th>Дополнительно</th>
        </tr>
        {% for income in info_add %}
        <tr align="center">
            <td>{{ income.date_user }}</td>
            <td>{{ income.category }}</td>
            <td>{{ income.value }}</td>
            <td>{{ income.cash_receipts }}</td>
            <td><a href="/index/{{ income.id }}">Подробно</a></td>
        {% endfor %}
    </table>
    <p>Общая сумма затрат - {{ total_price_add }} RUB</p>
    <p>Дневная сумма расходов - {{ price_of_day_add }} RUB
        <span>(Период c {{ date_str.date() }} по {{ date_fin.date() }})</span> "Целевой показатель 5500 RUB"</p>
    </div>

</div>
    <br>
    <hr>
    <form method="post">
        <select name="category_filter">
                <option name="food">Продукты</option>
                <option name="gazolino">Бензин</option>
                <option name="repair car">Ремонт Авто</option>
                <option name="game">Игры</option>
                <option name="credit">Кредит</option>
                <option name="ather">Прочее</option>
                <option name="Pharmacy">Аптека</option>
                <option name="cafe">Кафе</option>
                <option name="dress">Одежда</option>
            </select>
        <input type="submit" value="Отфильтровать">
    </form>
    <table border="1">
        <caption>Таблица по фильтру <span>{{ category }}</span></caption>
        <tr align="center">
            <th>Дата</th>
            <th>Категория</th>
            <th>Наименование</th>
            <th>Цена, RUB</th>
        </tr>
        {% for fil in filter_category %}
        <tr align="center">
            <td>{{ fil.date_user }}</td>
            <td>{{ fil.category }}</td>
            <td>{{ fil.value }}</td>
            <td>{{ fil.price }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}