{% extends 'base.html' %}

{% block style %}
h1 {
    font-size: 120%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333366;
   }
body {
    background: azure;
}
a {
    color: red;
}
p {
    font-style: italic;
}
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
    <h1>Категория: {{ info_id.category }}</h1>
    <p>{{ info_id.value }}</p>
    <p>{{ info_id.price }} RUB</p>
    <p>Дата операции: {{ info_id.date_user }}</p>
    <p>Дата создания: {{ info_id.date_add.date() }}</p>
{% endblock %}