{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>База по расходам</h1>
    <p>Данное приложение даёт вести ежедневные расходы для контроля финансов.</p>
    <table border="1">
        <caption>Таблица расходов</caption>
        <tr align="center">
            <th>Дата</th>
            <th>Наименование</th>
            <th>Цена, RUB</th>
            <th>Категория</th>
            <th>Дополнительно</th>
        </tr>
        {% for article in info_all %}
        <tr align="center">
            <td>{{ article.date_user }}</td>
            <td>{{ article.category }}</td>
            <td>{{ article.value }}</td>
            <td>{{ article.price }}</td>
            <td><a href="/index/{{ article.id }}">Подробно</a></td>
        </tr>
        {% endfor %}
    </table>
<p>Общая сумма затрат - {{ total_price }}</p>
{% endblock %}